@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Grey-500: hsl(234, 12%, 34%);
  --Grey-400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: var(--White);
  color: var(--Grey-400);
  line-height: 1.5;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 50px 20px 0 20px;
}

.header h2 {
  color: var(--Grey-400);
  font-size: 32px;
  font-weight: 200;
}

.header h3 {
  color: var(--Grey-500);
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
}

.header p {
  max-width: 450px;
  font-size: 14px;
  margin: auto;
}

.cards-container {
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.card {
  background-color: var(--White);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.card h4 {
  color: var(--Grey-500);
  font-weight: 600;
  margin-bottom: 5px;
}

.card p {
  font-size: 12px;
}

.card-1 {
  border-top: 3px solid var(--Cyan);
  grid-row: span 2 / span 2;
  grid-row-start: 2;
}

.card-2 {
  border-top: 3px solid var(--Red);
  grid-row: span 2 / span 2;
  grid-column-start: 2;
}

.card-3 {
  border-top: 3px solid var(--Orange);
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

.card-4 {
  border-top: 3px solid var(--Blue);
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.card img {
  align-self: flex-end;
  margin: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: inherit;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    grid-column-start: auto;
    grid-row-start: auto;
  }
}

@media (max-width: 600px) {
  .header h2 {
    font-size: 24px;
  }

  .header h3 {
    font-size: 24px;
  }

  .header p {
    max-width: 300px;
  }

  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    grid-column-start: auto;
    grid-row-start: auto;
  }
}
